In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

# Load the dataset
df = pd.read_csv('TaxiFare.csv')

In [3]:
# Convert the pickup date and time to pandas datetime object
df['date_time_of_pickup'] = pd.to_datetime(df['date_time_of_pickup'])

In [6]:
#Extract the day of the week from the date_time_of_pickup column
df['day_of_week'] = df['date_time_of_pickup'].dt.dayofweek

In [7]:
#extract the hour from the date_time_of_pickup column
df['hour'] = df['date_time_of_pickup'].dt.hour

In [8]:
#extract the month from the date_time_of_pickup column
df['month'] = df['date_time_of_pickup'].dt.month

In [9]:
#extract the year from the date_time_of_pickup column
df['year'] = df['date_time_of_pickup'].dt.year

In [10]:
df.head()

,unique_id,amount,date_time_of_pickup,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger,day_of_week,hour,month,year
0,26:21.0,4.5,2009-06-15 17:26:21+00:00,-73.844311,40.721319,-73.841610,40.712278,1,0,17,6,2009
1,52:16.0,16.9,2010-01-05 16:52:16+00:00,-74.016048,40.711303,-73.979268,40.782004,1,1,16,1,2010
2,35:00.0,5.7,2011-08-18 00:35:00+00:00,-73.982738,40.761270,-73.991242,40.750562,2,3,0,8,2011
3,30:42.0,7.7,2012-04-21 04:30:42+00:00,-73.987130,40.733143,-73.991567,40.758092,1,5,4,4,2012
4,51:00.0,5.3,2010-03-09 07:51:00+00:00,-73.968095,40.768008,-73.956655,40.783762,1,1,7,3,2010

In [11]:
#drop the date_time_of_pickup column
df.drop('date_time_of_pickup', axis=1, inplace=True)

In [13]:
#drop unique_id column
df.drop('unique_id', axis=1, inplace=True)

In [14]:
df.head()

,amount,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger,day_of_week,hour,month,year
0,4.5,-73.844311,40.721319,-73.841610,40.712278,1,0,17,6,2009
1,16.9,-74.016048,40.711303,-73.979268,40.782004,1,1,16,1,2010
2,5.7,-73.982738,40.761270,-73.991242,40.750562,2,3,0,8,2011
3,7.7,-73.987130,40.733143,-73.991567,40.758092,1,5,4,4,2012
4,5.3,-73.968095,40.768008,-73.956655,40.783762,1,1,7,3,2010

In [15]:
#show columns
df.columns

Index(['amount', 'longitude_of_pickup', 'latitude_of_pickup',
       'longitude_of_dropoff', 'latitude_of_dropoff', 'no_of_passenger',
       'day_of_week', 'hour', 'month', 'year'],
      dtype='object')

In [18]:
# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(df[['amount', 'longitude_of_pickup', 'latitude_of_pickup',
       'longitude_of_dropoff', 'latitude_of_dropoff', 'no_of_passenger',
       'day_of_week', 'hour', 'month', 'year'],
      dtype='object'], test_size=0.2, random_state=42)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2325586945.py, line 5)

In [16]:
import numpy as np
model = RandomForestRegressor(n_estimators=100, random_state=42)

# Train the model on the training set
model.fit(X_train, y_train)

# Evaluate the model on the test set
y_pred = model.predict(X_test)
mse = np.mean((y_pred - y_test)**2)
print('Mean squared error:', mse)

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' on line 2 (2615679089.py, line 5)

In [ ]:
from sklearn.model_selection import GridSearchCV

# Define the hyperparameter grid
param_grid = {
    'n_estimators': [50, 100, 200],
    'max_depth': [3, 5, 10],
    'min_samples_split': [2, 5, 10],
    'random_state': [42]
}

# Create a GridSearchCV object
grid_search = GridSearchCV(model, param_grid, cv=5, n_jobs=-1)

# Fit the model to the training data
grid_search.fit(X_train, y_train)

# Get the best model
best_model = grid_search.best_estimator_

# Evaluate the best model on the test set
y_pred = best_model.predict(X_test)
mse = np.mean((y_pred - y_test)**2)
print('Mean squared error:', mse)